:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
	background: #202124;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	background: #171717;
}

.nav-link:hover {
	background-color: #522763;
}

.match-details-nav-link:hover {
	background: #171717;
}

.filter-button {
	padding: 6px 26px;
	font-style: normal;
	font-weight: 800;
	border: 1px solid rgb(60, 64, 67);
	border-radius: 5px;
	background-color: #202124;
	color: #FFFFFF;
	transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	place-items: center;
	color: #bdc1c6;
	margin-right: .5em;
}

.filter-button:first-of-type {
	margin-left: .5em;
}

/* .filter-button:focus {
	background: #424548;
} */

.filter-button:hover {
	cursor: pointer;
	background: #424548;
}

.filter-button.selected {
	background: #424548;
}

.filter-button img {
	margin-right: .375em;
}

