:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
	background: #202124;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

.league-position-link {
	cursor: pointer;
	text-decoration: none;
}

.league-position:hover {
	background: #424548;
}

img {
	max-width: 100%;
}

body {
	background: #171717;
}

.nav-link:hover {
	background-color: #522763;
}

.team-page-nav-link:hover {
	opacity: .5;
}

.match-details-nav-link:hover {
	background: #171717;
}

.filter-button {
	padding: 6px 26px;
	font-style: normal;
	font-weight: 800;
	border: 1px solid rgb(60, 64, 67);
	border-radius: 5px;
	background-color: #202124;
	color: #FFFFFF;
	transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
	display: flex;
	place-items: center;
	color: #bdc1c6;
	margin: 0 .5em 0.2em 0;
}

.filter-button:first-of-type {
	margin-left: .5em;
}

.filter-button:hover {
	cursor: pointer;
	background: #424548;
}

.filter-button.selected {
	background: #424548;
}

.filter-button img {
	margin-right: .375em;
}

.error {
  text-align: center;
  color: #ffffff;
}

